
.kotomi, .mayumi{
    color: #ff0000;
}

.nattan, .nagyu{
    color: #ff8800;
}

.sakina{
    color: #ffff00;
}

.nachiko{
    color: #00d170;
}

.rino, .oyui{
    color: #00cfd6;
}

.kiri, .ayu{
    color: #0026ff;
}

.shichan, .rise{
    color: #c32bff;
}

.bibi, .natsuka{
    color: #ff00bf;
}

.call{
    font-weight: bold;
}

a{
    color : black;
}

