.call{
    font-weight: bold;
}

a{
    color : black;
}

p{
    margin: 0;
}

.same{
    padding-left: 30px;
}

.kotomi{
    color: #ff0000;
    font-weight: bold;
}

.nattan{
    color: #ff8800;
    font-weight: bold;
}

.nachiko{
    color: #00d170;
    font-weight: bold;
}

.rino{
    color: #00cfd6;
    font-weight: bold;
}

.kiri{
    color: #0026ff;
    font-weight: bold;
}

.shichan{
    color: #c32bff;
    font-weight: bold;
}

.bibi{
    color: #ff00bf;
    font-weight: bold;
    }


.kotomi.nattan{
    background: linear-gradient(to right, #ff0000 50%, #ff8800 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko{
    background: linear-gradient(to right, #ff0000 50%, #00d170 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino{
    background: linear-gradient(to right, #ff0000 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.kiri{
    background: linear-gradient(to right, #ff0000 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.shichan{
    background: linear-gradient(to right, #ff0000 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.bibi{
    background: linear-gradient(to right, #ff0000 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko{
    background: linear-gradient(to right, #ff8800 50%, #00d170 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino{
    background: linear-gradient(to right, #ff8800 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.kiri{
    background: linear-gradient(to right, #ff8800 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.shichan{
    background: linear-gradient(to right, #ff8800 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.bibi{
    background: linear-gradient(to right, #ff8800 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino{
    background: linear-gradient(to right, #00d170 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.kiri{
    background: linear-gradient(to right, #00d170 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.shichan{
    background: linear-gradient(to right, #00d170 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.bibi{
    background: linear-gradient(to right, #00d170 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.kiri{
    background: linear-gradient(to right, #00cfd6 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.shichan{
    background: linear-gradient(to right, #00cfd6 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.bibi{
    background: linear-gradient(to right, #00cfd6 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kiri.shichan{
    background: linear-gradient(to right, #0026ff 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kiri.bibi{
    background: linear-gradient(to right, #0026ff 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.shichan.bibi{
    background: linear-gradient(to right, #c32bff 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
