.call{
    
    background: linear-gradient(to right, #94cbff 50%, #ffaef8 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

a{
    color : black;
}

.kotomi{
    color: #ff0000;
    font-weight: bold;
}

.nattan{
    color: #ff8800;
    font-weight: bold;
}

.nachiko{
    color: #00d170;
    font-weight: bold;
}

.rino{
    color: #00cfd6;
    font-weight: bold;
}

.kiri{
    color: #0026ff;
    font-weight: bold;
}

.shichan{
    color: #c32bff;
    font-weight: bold;
}

.bibi{
    color: #ff00bf;
    font-weight: bold;
}

.kotomi.nattan{
    background: linear-gradient(to right, #ff0000 50%, #ff8800 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko{
    background: linear-gradient(to right, #ff0000 50%, #00d170 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino{
    background: linear-gradient(to right, #ff0000 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.kiri{
    background: linear-gradient(to right, #ff0000 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.shichan{
    background: linear-gradient(to right, #ff0000 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.bibi{
    background: linear-gradient(to right, #ff0000 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko{
    background: linear-gradient(to right, #ff8800 50%, #00d170 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino{
    background: linear-gradient(to right, #ff8800 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.kiri{
    background: linear-gradient(to right, #ff8800 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.shichan{
    background: linear-gradient(to right, #ff8800 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.bibi{
    background: linear-gradient(to right, #ff8800 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino{
    background: linear-gradient(to right, #00d170 50%, #00cfd6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.kiri{
    background: linear-gradient(to right, #00d170 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.shichan{
    background: linear-gradient(to right, #00d170 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.bibi{
    background: linear-gradient(to right, #00d170 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.kiri{
    background: linear-gradient(to right, #00cfd6 50%, #0026ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.shichan{
    background: linear-gradient(to right, #00cfd6 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.bibi{
    background: linear-gradient(to right, #00cfd6 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kiri.shichan{
    background: linear-gradient(to right, #0026ff 50%, #c32bff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kiri.bibi{
    background: linear-gradient(to right, #0026ff 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.shichan.bibi{
    background: linear-gradient(to right, #c32bff 50%, #ff00bf 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.nachiko{
    background: linear-gradient(to right, #ff0000 33%, #ff8800 33%, #00d170 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.rino{
    background: linear-gradient(to right, #ff0000 33%, #ff8800 33%, #00cfd6 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.kiri{
    background: linear-gradient(to right, #ff0000 33%, #ff8800 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.shichan{
    background: linear-gradient(to right, #ff0000 33%, #ff8800 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.bibi{
    background: linear-gradient(to right, #ff0000 33%, #ff8800 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.rino{
    background: linear-gradient(to right, #ff0000 33%, #00d170 33%, #00cfd6 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.kiri{
    background: linear-gradient(to right, #ff0000 33%, #00d170 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.shichan{
    background: linear-gradient(to right, #ff0000 33%, #00d170 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.bibi{
    background: linear-gradient(to right, #ff0000 33%, #00d170 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.kiri{
    background: linear-gradient(to right, #ff0000 33%, #00cfd6 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.shichan{
    background: linear-gradient(to right, #ff0000 33%, #00cfd6 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.bibi{
    background: linear-gradient(to right, #ff0000 33%, #00cfd6 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.kiri.shichan{
    background: linear-gradient(to right, #ff0000 33%, #0026ff 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.kiri.bibi{
    background: linear-gradient(to right, #ff0000 33%, #0026ff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.shichan.bibi{
    background: linear-gradient(to right, #ff0000 33%, #c32bff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.rino{
    background: linear-gradient(to right, #ff8800 33%, #00d170 33%, #00cfd6 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.kiri{
    background: linear-gradient(to right, #ff8800 33%, #00d170 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.shichan{
    background: linear-gradient(to right, #ff8800 33%, #00d170 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.bibi{
    background: linear-gradient(to right, #ff8800 33%, #00d170 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.kiri{
    background: linear-gradient(to right, #ff8800 33%, #00cfd6 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.shichan{
    background: linear-gradient(to right, #ff8800 33%, #00cfd6 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.bibi{
    background: linear-gradient(to right, #ff8800 33%, #00cfd6 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.kiri.shichan{
    background: linear-gradient(to right, #ff8800 33%, #0026ff 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.kiri.bibi{
    background: linear-gradient(to right, #ff8800 33%, #0026ff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.shichan.bibi{
    background: linear-gradient(to right, #ff8800 33%, #c32bff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.kiri{
    background: linear-gradient(to right, #00d170 33%, #00cfd6 33%, #0026ff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.shichan{
    background: linear-gradient(to right, #00d170 33%, #00cfd6 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.bibi{
    background: linear-gradient(to right, #00d170 33%, #00cfd6 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.kiri.shichan{
    background: linear-gradient(to right, #00d170 33%, #0026ff 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.kiri.bibi{
    background: linear-gradient(to right, #00d170 33%, #0026ff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.shichan.bibi{
    background: linear-gradient(to right, #00d170 33%, #c32bff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.kiri.shichan{
    background: linear-gradient(to right, #00cfd6 33%, #0026ff 33%, #c32bff 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.kiri.bibi{
    background: linear-gradient(to right, #00cfd6 33%, #0026ff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.shichan.bibi{
    background: linear-gradient(to right, #00cfd6 33%, #c32bff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kiri.shichan.bibi{
    background: linear-gradient(to right, #0026ff 33%, #c32bff 33%, #ff00bf 33%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.nachiko.rino{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00d170 25%, #00cfd6 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.nachiko.kiri{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00d170 25%, #0026ff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.nachiko.shichan{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00d170 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.nachiko.bibi{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00d170 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.rino.kiri{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00cfd6 25%, #0026ff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.rino.shichan{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00cfd6 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.rino.bibi{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #00cfd6 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.kiri.shichan{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.kiri.bibi{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nattan.shichan.bibi{
    background: linear-gradient(to right, #ff0000 25%, #ff8800 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.rino.kiri{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #00cfd6 25%, #0026ff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.rino.shichan{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #00cfd6 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.rino.bibi{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #00cfd6 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.kiri.shichan{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.kiri.bibi{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.nachiko.shichan.bibi{
    background: linear-gradient(to right, #ff0000 25%, #00d170 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.kiri.shichan{
    background: linear-gradient(to right, #ff0000 25%, #00cfd6 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.kiri.bibi{
    background: linear-gradient(to right, #ff0000 25%, #00cfd6 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.rino.shichan.bibi{
    background: linear-gradient(to right, #ff0000 25%, #00cfd6 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.kotomi.kiri.shichan.bibi{
    background: linear-gradient(to right, #ff0000 25%, #0026ff 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.rino.kiri{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #00cfd6 25%, #0026ff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.rino.shichan{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #00cfd6 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.rino.bibi{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #00cfd6 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.kiri.shichan{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.kiri.bibi{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.nachiko.shichan.bibi{
    background: linear-gradient(to right, #ff8800 25%, #00d170 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.kiri.shichan{
    background: linear-gradient(to right, #ff8800 25%, #00cfd6 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.kiri.bibi{
    background: linear-gradient(to right, #ff8800 25%, #00cfd6 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.rino.shichan.bibi{
    background: linear-gradient(to right, #ff8800 25%, #00cfd6 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nattan.kiri.shichan.bibi{
    background: linear-gradient(to right, #ff8800 25%, #0026ff 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.kiri.shichan{
    background: linear-gradient(to right, #00d170 25%, #00cfd6 25%, #0026ff 25%, #c32bff 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.kiri.bibi{
    background: linear-gradient(to right, #00d170 25%, #00cfd6 25%, #0026ff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.rino.shichan.bibi{
    background: linear-gradient(to right, #00d170 25%, #00cfd6 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nachiko.kiri.shichan.bibi{
    background: linear-gradient(to right, #00d170 25%, #0026ff 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.rino.kiri.shichan.bibi{
    background: linear-gradient(to right, #00cfd6 25%, #0026ff 25%, #c32bff 25%, #ff00bf 25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}




